<html>
<head>
  <title>Pepo Rewards</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="p-parents-course-page">
  <header class="p-parents-course-header">
    <h1 class=p-parents-course-logo">PEPO</h1>
    <button class="p-parents-course-login-btn" onclick="window.location.href='/login'">LOGIN</button>
  </header>

  <div class="p-parents-course-section">
    <div class="p-parents-course-heading">
      <h1>PICK FUN COURSES FOR YOUR KID </h1>
    </div>

    <div class="p-parents-course-grid">
      <div class="p-parents-course-box" style="background-image: url('/static/images/chess.png');" onclick="window.location.href='/choose/chess'">
        <h2>CHESS</h2>
      </div>
      <div class="p-parents-course-box" style="background-image: url('/static/images/history.png');" onclick="window.location.href='/choose/history'">
        <h2>AMERICAN HISTORY</h2>
      </div>
      <div class="p-parents-course-box" style="background-image: url('/static/images/ChatGPT\ Image\ Jun\ 21\,\ 2025\,\ 04_18_43\ PM.png');" onclick="window.location.href='/choose/space'">
        <h2>SPACE</h2>
      </div>
      <div class="p-parents-course-box" style="background-image: url('/static/images/biology.png');" onclick="window.location.href='/choose/biology'">
        <h2>BIOLOGY</h2>
      </div>
      <div class="p-parents-course-box" style="background-image: url('/static/images/geogr.png');" onclick="window.location.href='/choose/geography'">
        <h2>GEOGRAPHY</h2>
      </div>
      <div class="p-parents-course-box" style="background-image: url('/static/images/science-def-lowercase.png');" onclick="window.location.href='/choose/science'">
        <h2>SCIENCE</h2>
      </div>
    </div>
  </div>
</body>
</html>

  
