<!DOCTYPE html>
<html>
    <head>
        <title>Giftbox - Pepo</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <h1 id="new-logo">pepo</h1>
        <div class="giftbox">
            <h1>Pick one option to get Robux</h1>

            <div class="prize-options">
                <div class="prize-box curriculum" onclick="window.location.href='/roadmap'">
                    <div class="prize-content-wrapper">
                        <img class="prize-content" src="/static/images/chess.png">
                    </div>
                    <h2>chess</h2>
                </div>

                <div class="prize-box curriculum">
                    <div class="prize-content-wrapper">
                        <img class="prize-content" src="/static/images/history.png">
                    </div>
                    <h2>history</h2>
                </div>

                <div class="prize-box curriculum">
                    <div class="prize-content-wrapper">
                        <img class="prize-content" src="/static/images/chess.png">
                    </div>
                    <h2>space</h2>
                </div>

                <div class="prize-box curriculum" onclick="window.location.href='/select_prize'">
                    <div class="prize-content-wrapper">
                        <img class="prize-content" src="/static/images/chess.png">
                    </div>
                    <h2>chess</h2>
                </div>

                <div class="prize-box curriculum" onclick="window.location.href='/select_prize'">
                    <div class="prize-content-wrapper">
                        <img class="prize-content" src="/static/images/chess.png">
                    </div>
                    <h2>chess</h2>
                </div>

                <div class="prize-box curriculum" onclick="window.location.href='/select_prize'">
                    <div class="prize-content-wrapper">
                        <img class="prize-content" src="/static/images/chess.png">
                    </div>
                    <h2>chess</h2>
                </div>
            </div>
        </div>
    </body>
</html>
