<!DOCTYPE html>
<html>
    <head>
        <title>Pepo</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body id="games-background">
        % include('header.html', l=l)

        <div class="hero">
            <h1>learn and win robux</h1>
            <div class="start-wrapper">
                <button onclick="window.location.href='/spin'" class="start">start now!</button>
            </div>
        </div>

        <img src="/static/images/toys/ball.png" class="toy"/>
        <!-- <img src="/static/images/toys/bear.png" class="toy"/> -->
        <img src="/static/images/toys/box.png" class="toy"/>
        <img src="/static/images/toys/coin.png" class="toy"/>
        <img src="/static/images/toys/controller.png" class="toy"/>
        <img src="/static/images/toys/spin.png" class="toy"/>
        <img src="/static/images/toys/trophy.png" class="toy"/>
        <!-- <img src="/static/images/toys/truck.png" class="toy"/> -->
    </body>
</html>
