<!DOCTYPE html>
<html>
<head>
    <title>Login - Pepo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="signup-body">
    <h1 class="signup-logo">PEPO</h1>
    <button class="signup-login-button" onclick="window.location.href='/signup'">signup</button>

    <div class="signup-container">
        <h1>login to pepo</h1>

        <div class="signup-form">
            % if defined('error'):
            <div class="error-message">{{error}}</div>
            % end

            <form action="/process_login" method="post">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="email: " required>
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="password: " required>
                </div>

                <button type="submit" class="submit-btn">login</button>
            </form>
        </div>
    </div>
</body>
</html>
