<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Check Inbox</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="next-redeem-page">
  <div class="next-redeem-container">
    <h1 class="next-brand-logo">PEPO</h1>
    <div class="next-message-box">
      <h2>ASK YOUR PARENTS TO CLICK ON NEXT</h2>
      <h2>TO REDEEM YOUR</h2>
      <img src="/static/images/robux.png" alt="Robux Card" class="robux-card" />
    </div>
    <button class="exit-btn">NEXT</button>
  </div>
</body>
</html>
