<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Select Reward</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body class="reward-page">
  <div class="reward-header">
    <h1 class="reward-logo">PEPO</h1>
    <button class="reward-login-btn" onclick="window.location.href='/login'">LOGIN</button>
  </div>

  <h2 class="reward-title">SELECT A REWARD FOR YOUR KID:</h2>

  <div class="reward-card-container">
    <!-- Card 1 -->
    <div class="reward-card">
      <div class="card-header">GIFT CARD</div>
      <div class="card-body">
          <img src="/static/images/robux-10.png" alt="Robux $10" class="card-img" />
          <p class="card-description">
            Roblox Digital Gift Card - 2,500 Robux <br />
            [Includes Exclusive Virtual Item] <br />
            [Digital Code]
        </p>
        <button class="choose-btn" onclick="window.location.href='/startcourse'">CHOOSE</button>
    </div>
      </div>

    <!-- Card 2 -->
    <div class="reward-card">
      <div class="card-header">GIFT CARD</div>
      <img src="/static/images/robux-15.png" alt="Robux $15" class="card-img" />
      <p class="card-description">
        Roblox Digital Gift Card - 2,500 Robux <br />
        [Includes Exclusive Virtual Item] <br />
        [Digital Code]
      </p>
      <button class="choose-btn" onclick="window.location.href='/startcourse'">CHOOSE</button>
    </div>

    <!-- Card 3 -->
    <div class="reward-card">
      <div class="card-header">GIFT CARD</div>
      <img src="/static/images/robux-25.png" alt="Robux $25" class="card-img" />
      <p class="card-description">
        Roblox Digital Gift Card - 2,500 Robux <br />
        [Includes Exclusive Virtual Item] <br />
        [Digital Code]
      </p>
      <button class="choose-btn" onclick="window.location.href='/startcourse'">CHOOSE</button>
    </div>
  </div>
</body>
</html>
