<!DOCTYPE html>
<html>
<head>
    <title>Start - Pepo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1 id="new-logo">pepo</h1>
    <div class="signup-container actually-signup start">
        <h1>Let's Start the Quest Now</h1>

        <div class="signup-form">
            % if defined('error'):
            <div class="error-message">{{error}}</div>
            % end

            <form action="/process_start" method="post">
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="name: " required>
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="email: " required>
                </div>
                <button type="submit" class="submit-btn">continue</button>
            </form>
        </div>
    </div>
</body>
</html>
