<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fullscreen Video</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body class="fullscreen-video-page">

  <div class="fullscreen-video-wrapper">
    <video class="fullscreen-video" autoplay muted loop playsinline>
      <source src="/static/videos/Create_a_wheel_202506200915_wpsyx.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="video-overlay">
      <!-- <h1>WELCOME TO PEPO</h1>
      <p>Let’s get started with your course</p> -->
    </div>
  </div>

</body>
</html>
